<% if(user !== undefined){ %>
    <% if(user.rol==="2222" || user.rol==="3333" ){ %>
    <%- include("../comunes/components/header-component") -%>
    <div>
        <h2> Dinero entrante al taller en el ultimo mes </h2>
        <h2 id="totalDinero"></h2>
    </div>

    <div>
        <canvas id="myChart" width="50px" height="50px"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 5
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
        let url ="/reporte/getData";

        fetch('/reporte/getData')
        .then(response => response.json())
        .then( function (data) {
            console.log(data[0].precio);
            let suma=0;
            for (let i = 0; i < data.length; i++) {
                suma += data[i].precio;
            }
            document.getElementById("totalDinero").innerText="$"+suma;

        });
        // let suma=0;

        // const mostrar = (precio) =>{
        //     precio.forEach(element => {
        //         suma+= Number(element.precio);
        //     });
        // }
        // 
        
      </script>


    <%- include("../comunes/components/footer-component") -%>
    <% } else { %>
        <%- include("../comunes/components/error-sesion") -%>
        <% } } else { %>
            <%- include("../comunes/components/error-sesion") -%>
                <% } %>