<div id="containerForm" class="card mx-basic my-basic hide">
    <form id="formProducto" action="/catalogo/producto/" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <input id="nombre" name="nombre" type="text" class="validate">
                <label for="nombre">Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="primerApellido" name="primerApellido" type="text" class="validate">
                <label for="primerApellido">primerApellido</label>
            </div>
            <div class="input-field col s4">
                <input id="segundoApellido" name="segundoApellido" type="text" class="validate">
                <label for="segundoApellido">segundoApellido</label>
            </div>
            <div class="input-field col s4">
                <input id="telefono" name="telefono" type="text" class="validate">
                <label for="telefono">telefono</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="calle" name="calle" type="text" class="validate">
                <label for="calle">calle</label>
            </div>
            <div class="input-field col s4">
                <input id="noCasaInt" name="noCasaInt" type="text" class="validate">
                <label for="noCasaInt">noCasaInt</label>
            </div>
            <div class="input-field col s4">
                <input id="noCasaExt" name="noCasaExt" type="text" class="validate">
                <label for="noCasaExt">noCasaExt</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="colonia" name="colonia" type="text" class="validate">
                <label for="colonia">colonia</label>
            </div>
            <div class="input-field col s4">
                <input id="municipio" name="municipio" type="text" class="validate">
                <label for="municipio">municipio</label>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s1 offset-s10">
            <button type="submit" id="btnGuardar"
                class="waves-effect waves-light btn my-basic mx-basic blue">Registrar</button>
        </div>
        <div class="col s1">
            <button id="btnCancelar" class="waves-effect waves-light btn my-basic mx-basic red">Cancelar</button>
        </div>
    </div>
</div>