<% if(user !== undefined && user.rol === "1111" ){ %> 
<%- include("../comunes/components/header-component") -%>
    <div class="container col-5 ">
        <div class="alert alert-success ">
            <div class="row">
                <div class="col m-0 row justify-content-center">
                    
                    <h3 class="">¡El empleado ya esta registrado!</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col m-0 row justify-content-center">
                    <a href="/empleados/view/"><input class="btn btn-secondary" type="button"
                            value="Aceptar"></a>
                </div>

            </div>
        </div>
    </div>
        <%- include("../comunes/components/footer-component") -%>
        <% } else { %>
            <%- include("../comunes/components/error-sesion") -%>
           <% } %> 