<div id="containerTable" class="card mx-basic my-basic">
    <div class="row">
        <div class="col s2">
            <button id="btnNuevo" class="waves-effect waves-light btn my-basic mx-basic blue">+Cliente</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12 ">
            <table >
                <thead>
                    <th>
                        <tr>
                            <td>#</td>
                            <td>Nombre</td>
                            <td>Primer apellido</td>
                            <td>Segundo apellido</td>
                            <td>Telefono</td>
                            <td>Calle</td>
                            <td>No interior</td>
                            <td>No exterior</td>
                            <td>Colonia</td>
                            <td>Municipio</td>
                            <td>Acciones</td>
                        </tr>
                    </th>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>
</div>