 
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css"> <!-- Paginacion de la tabla -->
    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon ">
                    <i class="fas	fa-tools"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Servicio Franco </div>
            </a>

            <!-- Nav Item - Lateral -->
            <li class="nav-item">
                <!-- if empleado -->
                <% if(user.rol === "3333"){ %> 
                <a class="nav-link" href="/clientes/view" data-toggle="" data-target="" aria-expanded=""
                    aria-controls="">
                    <i class="fas fa-users"></i>
                    <span style="font-size: 18px; font-weight: bold;">Clientes</span>
                </a>
                <% } %> 
                <!-- tecnivo -->
                <% if(user.rol === "2222"){ %> 
                <a class="nav-link" href="/pendientes/view" data-toggle="" data-target="" aria-expanded=""
                    aria-controls="">
                    <i class="fas fa-users"></i>
                    <span style="font-size: 18px; font-weight: bold;">Pendientes</span>
                </a>
                <% } %> 
                
                <!-- tecnico y empleado -->
                <% if(user.rol === "2222" || user.rol === "3333"){ %> 
                <a class="nav-link" href="/reporte/view" data-toggle="" data-target="" aria-expanded=""
                    aria-controls="">
                    <i class="fas fa-file-pdf"></i>
                    <span style="font-size: 18px; font-weight: bold;">Reportes</span>
                </a>
                <% } %> 
                <!-- if admin -->
                <% if(user.rol === "1111"){ %> 
                <a class="nav-link" href="/empleados/view" data-toggle="" data-target="" aria-expanded=""
                    aria-controls="">
                    <i class="fas fa-users"></i>
                    <span style="font-size: 18px; font-weight: bold;">Empleados</span>
                </a>
                <% } %> 
                
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <% if(user.rol === "1111"){ %> 
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    Admin
                                </span>
                                <% } %> 
                                <% if(user.rol === "2222"){ %> 
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                        Técnico
                                    </span>
                                <% } %> 
                                <% if(user.rol === "3333"){ %> 
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                        Empleado
                                    </span>
                                <% } %> 
                                <img class="img-profile rounded-circle" src="/assets/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesion
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- End of Topbar -->