<% if(user !== undefined && user.rol === "1111" ){ %> 
<%- include("../comunes/components/header-component") -%>
    <div class="container">

        <h1>Agregar usuario</h1>
        <br>
        <br>
        <form action="/usuarios/create/<%=recordsEmpleado["idEmpleado"]%> " method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h2 class="title-black">Datos generales</h2>
                    </div>
                    <div class="col-2">
                        <h6>* Campos obligatorios</h6>
                    </div>

                </div>

                <br>
                <div class="row">
                    <div class="col">
                        <h4>Correo*</h4>
                    </div>
                    <div class="col">
                        <h4>Contraseña*</h4>
                    </div>
                    <div class="col">
                        <h4>Estatus*</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text"  class="form-control mb-3" name="correo"  required>
                    </div>
                    <div class="col">
                        <input type="text"  class="form-control mb-3"
                            name="contrasenia" required>
                    </div>
                    <div class="col">
                        <select name="estatus" class="form-control mb-3" id="estatus">
                            <option value="A">Activo</option>
                            <option value="D">Desactivo</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-4">
                        <h4>Rol*</h4>
                    </div>
                    <div class="col-4">
                        <h4>Token</h4>
                    </div>

                </div>

                <div class="row">
                    <div class="col-4">
                        <input type="text" onkeypress="return soloNumeros(event)" class="form-control mb-3"
                            name="rol" required>
                    </div>
                    <div class="col-4">
                        <input type="text"  class="form-control mb-3"
                            name="token">
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col">
                        <button class="btn btn-secondary" type="submit">Registrar usuario</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <%- include("../comunes/components/footer-component") -%>
    <% } else { %>
        <%- include("../comunes/components/error-sesion") -%>
       <% } %> 