<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Seguimiento</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Varela+Round&display=swap" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main_cliente.css" />
		
	</head>
	<body>
		<header>
			<h3 class="centrado">Seguimiento de electrodomésticos</h3>
      <h2 class="centrado">¡Electrodomestico no encontrado!</h2>
		</header>
		<div id="main">
		<form>
			<div class="alert alert-warning row">
				<h2><br>Lo sentimos! No se encuentran resultados con ese número de seguimiento.</h2>
			</div>
			<div class="alert alert-warning row">
				<h2><br>Si no recuerda el número de seguimiento de su electrodomestico favor </h2>
                <h2><br>de comunicarse al 9511928339.</h2>
            </div>
		</form>
		<div class="container"><a href="/seguimiento/view"><input class="button" type="button" value="Regresar"></a></div>
		
	</div>
	</body>
</html>