<div style="
        height: 100%;
        margin: 0px;
        padding: 0px;">
    <div style=" 
            height: 20%;
            margin: auto;
            background-color: linear-gradient(45deg, #D84315, #F57C00);
        "></div>
    <div style="position: relative;
        top: -10%;
        margin: 0 auto;
        width: 100%;
                height: 100%;">
        <div style="height: 100%;
            background-color: white;
            text-align: center;
            padding: 2rem">
            <div>
                <img style="max-height: 120px;"
                    src="https://i.ibb.co/PQ0cTmQ/logo-abiu-bravo.png"
                    alt="get" />
            </div>
            <div style="text-align: center;">
                <p style="font-size: 2rem;
                    font-weight: bold;
                    margin-top: 0; color: black;">
                    Hola, te manda saludos Servicio Técnico Franco
                </p>
                <p style="color: black;">
                    Le hemos enviamos este correo debido a que usted llevo un electrodoméstico a nuestras instalaciones.
                    Esperando a que pase un buen dia, le dejamos el código de seguimiento para que usted pueda consultar el estado
                    del electrodoméstico dentro del taller.
                    
                    
                </p>
                <p>
                    El electrodoméstico es:
                    <%=nombreElec %>
                    <%=marcaElec %>
                    <%=modeloElec %>
                </p>
                <div style="font-size: 1.3rem">
                    <p>Codigo de seguimiento: <b>
                            <%=codigo_seguimiento %>
                        </b></p>
                </div>
                <p style="color: black;">
                    Cualquier duda o aclaración puede ponerse en contacto con el siguiente número:
                    9511928339
                </p>
            </div>
            <p class="text" style="float: bottom;">Copyright © 2022 AlumnITO.</p>

        </div>
    </div>
</div>